@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:9%;">

    <img src="~/thems/img/business-software.gif" />
@*    <h3>@SessionService.CurrentUserName</h3>*@
</div>
